Core.Services/.vs/
Core.Services/Core.Services/bin/
Core.Services/Core.Services/newrelic/
Core.Services/Core.Services/obj/
Core.Services/obj/
Core.Services/Core.Services.Tests.Automation/.vscode/
Core.Services/Core.Services.Tests.Automation/node_modules/
Core.Services/Core.Services.Tests.Automation/obj/
src/Core.Services/obj/
src/obj/
src/Core.Services/newrelic/
src/Core.Services/bin/
src/Core.Services.Tests.Automation/node_modules/
src/Core.Services.Tests.Automation/obj/
src/.vs/Core.Services/v15/
src/Core.Services.Tests.Unit/bin/
src/Core.Services.Tests.Unit/obj/
src/.vs/
